.hero-banana {
    box-sizing: border-box;
    padding: 4rem 0rem 4rem;
    width: 100%;
    text-align: center;
    position: relative;
}

.hero-banana h3 {
    font-size: 7rem;
    color: #292929;
    line-height: 7rem;
    text-align: left;
}

.hero-banana h4 {
    font-size: 3rem;
    color: #567741;
    text-align: left;
}

/*margin underneath the project details*/
.header-under {
    margin-top: 6rem;
}

.left-text {
    text-align: left;
    width: 40%;
}

.right-img {
    padding-left: 4rem;
    width: 60%;
}

.right-img img {
    width: 100%;
    border-radius: 0.5rem;
}

/*BACKGROUND INFO SECTION*/
.background-info {
    padding-top: 4rem;
    padding-bottom: 4rem;
}

.heading-divider {
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.background-info h1, .research h1, .design-process h1 {
    font-size: 5rem;
    color: #292929;
}

.background-info .simple-flexbox-btw, .research .simple-flexbox-btw {
    align-items: stretch;
}

.background-info h4, .research h4, .design-process h4 {
    font-size: 2.5rem;
    color: #567741;
}

.header-left {
    width: 50%;
}

/*VERTICAL LINE*/
.vertical-divider-left {
    padding-left: 1rem;
    width: 50%;
    border-color: #f9bbbc;
}

/*PROBLEM STATEMENT SECTION*/
.problem-statement {
    background-color: #f9bbbc;
    padding-top: 4rem;
    padding-bottom: 4rem;
}

.problem-statement h4 {
    font-size: 2.5rem;
    color: #292929;
}

/*RESEARCH SECTION*/
.research {
    padding-top: 6rem;
}

.affinity-diagram {
    background-color: #e9e9e9;
    margin-top: 4rem;
    margin-bottom: 2rem;
    border-radius: 1rem;
    padding: 3rem;
}

.affinity-diagram img {
    width: 100%;
}

.interview-takeaways .simple-flexbox-btw {
    flex-wrap: wrap;
}

.interview-takeaways .takeaway-card {
    width: 47%;
    border-radius: 0.5rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding: 1rem;
    border: 1px solid #f9bbbc;
}

.takeaway-card ul {
    list-style-type: disc;
    margin-left: 1rem;
}

.takeaway-card ul li {
    margin: 0.5rem 0rem;
    font-family: "proxima-soft", sans-serif;
    font-size: 1rem;
}

.design-process {
    padding-top: 6rem;
    padding-bottom: 4rem;
}

table {
    margin-top: 2rem;
    margin-bottom: 6rem;
    border-color: #666666;
    border-collapse: collapse;
    width: 100%;
    font-family: "proxima-soft", sans-serif;
}

thead {
    background-color: #f9bbbc;
}

th, td {
    padding: 10px;
    text-align: left;
    vertical-align: top;
}

td ul {
    list-style-type: disc;
    margin-left: 1rem;
}

td ul li {
    margin: 0.5rem 0rem;
}

/*GREEN BACKGROUNDS*/
.green-must {
    background-color: #56774184;
}

.green-should {
    background-color: #56774165;
}

.green-could {
    background-color: #56774140;
}

.green-wont {
    background-color: #56774120;
}   

/*GRAY BACKGROUNDS*/
.gray-must {
    background-color: #e3e3e3b3;
}

.gray-should {
    background-color: #e3e3e380;
}

.gray-could {
    background-color: #e3e3e34d;
}

/*SKETCHES SECTION*/

.sketches .simple-flexbox-btw {
    margin-top: 2rem;
    margin-bottom: 6rem;
    gap: 2rem;
}

.left-sketches {
    width: calc(60% - 1rem);
}

.flex-col {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.img-rounded {
    border-radius: 0.5rem;
}

.left-flex-wrap {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 2rem;
}

.left-flex-wrap .sketch-img {
    width: calc(50% - 1rem);
    border-radius: 0.5rem;
}

.right-sketches {
    width: calc(40% - 1rem);
}

.right-sketches img {
    width: calc(100% - 1rem);
    border-radius: 0.5rem;
}

/*the gray goal box*/
.eg-div {
    margin-top: 2rem;
    background-color: #e3e3e3;
    border-radius: 1rem;
    padding: 2rem 2rem;
}

.eg-div p {
    font-size: 1.2rem;
}