.hero-choco {
    box-sizing: border-box;
    padding: 4rem 0 6rem;
    width: 100%;
    text-align: left;
    position: relative;
}

.simple-flexbox-btw {
    width: 100%;
}

.hero-choco h4 {
    font-size: 2.5rem;
    color: #567741;
}

.hero-choco h3 {
    font-size: 8rem;
    color: #292929;
    line-height: 7rem;
}

.header-img {
    margin-left: 6rem;
    width: 8%;
}

.header-under {
    margin-top: 6rem;
}

.left-text {
    text-align: left;
    width: 40%;
}

.right-img {
    padding-left: 4rem;
    width: 60%;
}

.right-img img {
    width: 100%;
}

.choco-mockup {
    margin-top: 4rem;
    margin-bottom: 4rem;
    background-color: #567741;
    width: 100%;
    border-radius: 1rem;
    padding: 3rem 0rem;
    text-align: center;
}

.choco-mockup img {
    width: 80%
}

.background-info {
    padding-top: 4rem;
    padding-bottom: 4rem;
}

.heading-divider {
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.background-info h1 {
    font-size: 5rem;
    color: #F9BBBC;
}

.simple-flexbox-btw {
    align-items: stretch;
}

.background-info h4 {
    font-size: 2.5rem;
    color: #567741;
}

.header-left {
    width: 50%;
}

/*VERTICAL LINE*/
.vertical-divider-left {
    padding-left: 1rem;
    width: 50%;
}