/*HERO SECTION*/
/*#314a17

outline: 2px solid red;
*/

.hero {
    box-sizing: border-box;
    padding: 4rem 0 15rem;
    width: 100%;
    text-align: center;
    position: relative;
}

.hero h1 {
    color: #567741;
    font-size: 6rem;
    line-height: 4rem;
} 

.hero p {
    font-size: 1.2rem;
    color: black;
    margin: 3rem 0;
}

.emmas {
    transform: translateX(-5rem);
}

.mayhem {
    transform: translateX(5rem);
}

.matcha-img {
    margin: 0 auto;
    margin: 4rem 0rem 0rem;
    width: 7rem;
}

/*FEATURED PROJECTS*/

.feat-proj {
    /*background-color: #A5B38E;*/
    padding: 5rem 0rem 5rem;
}

.simple-flexbox {
    display: flex;
    justify-content: flex-start;
}

.left-header {
    width: 50%;
    text-align: left;
    line-height: 4.3rem;
}

.feat-proj h2 {
    color: white;
    font-size: 4rem;
    margin-bottom: 0rem;
    margin-top: 0.5rem;
}

.feat-proj h1 {
    color: #F9BBBC;
    font-size: 7rem;
    margin-left: 4.5rem;
}

/*
.circle-bridge {
    position: absolute;
    margin-left: 5rem;
    bottom: -4rem;
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
    background-color:#567741;
    // background: #A5B38E;
    z-index: 10;
}
*/

.right-cards {
    margin-top: 10rem;
    width: 50%;
    overflow-y: hidden;
    align-content: center;
}

.proj-card {
    width: 100%;
    border-radius: 0.5rem;
    margin-top: 5rem;
    margin-bottom: 5rem;
    background-color: white;
}

.proj-card:hover {
    box-shadow: 0 0.2rem 0.4rem 0 rgba(0,0,0,0.15);
    transform: scale(0.95);
    transition: transform 0.3s ease;
    outline: 4px solid #F9BBBC;
    outline-offset: 10px; 
    
}

.proj-card img {
    width: 100%;
    border-radius: 0.5rem 0.5rem 0 0;
}

.card-text {
    padding: 0.7rem 0.9rem;
}
