.hero-skate {
    box-sizing: border-box;
    padding: 4rem 0rem 4rem;
    width: 100%;
    text-align: center;
    position: relative;
}

.hero-skate h3 {
    font-size: 7rem;
    color: #292929;
    line-height: 7rem;
    text-align: left;
}

.hero-skate h4 {
    font-size: 3rem;
    color: #567741;
    text-align: left;
}

/*margin underneath the project details*/
.header-under {
    margin-top: 6rem;
}

.left-text {
    text-align: left;
    width: 40%;
}

.right-img {
    padding-left: 4rem;
    width: 60%;
}

.right-img img {
    width: 100%;
    border-radius: 0.5rem;
}

/*BACKGROUND INFO SECTION*/
.background-info {
    padding-top: 4rem;
    padding-bottom: 6rem;
}

.heading-divider {
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.background-info h1, .sitemap h1, .branding h1, .sketch h1, .hi-fi h1 {
    font-size: 5rem;
    color: #292929;
}

/*the gray goal box*/
.about-skate {
    margin-top: 2rem;
    margin-bottom: 4rem;
    background-color: #e3e3e3;
    border-radius: 1rem;
    padding: 2rem 2rem;
}

.about-skate p {
    font-size: 1.2rem;
}

.background-info .simple-flexbox-btw {
    align-items: stretch;
}

.background-info h4, .old-design h4, .sitemap h4, .branding h4, .sketch h4, .hi-fi h4 {
    font-size: 2.5rem;
    color: #567741;
}

.header-left {
    width: 50%;
}

/*VERTICAL LINE*/
.vertical-divider-left {
    padding-left: 1rem;
    width: 50%;
    border-color: #f9bbbc;
}

/*Why I chose SC section*/
.why-i {
    display: block;
    margin: 0 auto;
    text-align: center;
    color:#567741;
}

.why-i h1 {
    margin-bottom: 1rem;
    font-size: 3.7rem;
    color: #567741;
}

.why-i-arrow {
    font-size: 3.5rem;
}

/*pink problem statement section*/
.prob-statement {
    margin-top: 1.6rem;
    background-color: #f9bbbc;
    width: 100%;
    padding: 2rem 0rem;
    text-align: left;
}

.prob-statement p {
    color: #292929;
}

.why-i .simple-flexbox-btw {
    margin-top: 2rem;
    align-items: center;
}

/*issue card*/
.issue-card {
    border: 2px solid #dc8687;
    border-radius: 1rem;
    padding: 2rem 2rem;
    width: 32%;
    text-align: center;
    transition: transform 0.2s cubic-bezier(0.4, 0, 0.2, 1), background-color 0.2s ease;
}

.issue-card:hover {
    background-color: #fad2d3;
    transform: translateY(-0.5rem);
}

.issue-card h4 {
    font-size: 1.7rem;
    color: #292929;
    margin-bottom: 1.7rem;
}

.why-i .issue-card i {
    font-size: 6rem;
    color: #dc8687;
}

.issue-card p {
    margin-top: 1.7rem;
    text-align: left;
}

/*OLD DESIGN SECTION*/
.old-design {
    margin: 6rem 0;
}

.old-design-gallery {
    padding: 2rem;
    background-color: #e3e3e3;
    border-radius: 1rem;
}

.simple-flexbox-wrap {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.old-design-img {
    width: 48.5%;
}

.old-design-img img {
    width: 100%;
    border-radius: 0.5rem;
    margin-bottom: 3rem;
}

.old-design-gallery p {
    font-size: 1.5rem;
    margin-bottom: 0.6rem;
}

.old-design-gallery a {
    margin-top: 2rem;
    color: #567741;
    text-decoration: underline;
    transition: color 0.2s ease;

}

.old-design-gallery a:hover {
    color: #3f5f2b
}

/*SITEMAP SECTION*/
.sitemap {
    padding: 4rem 0;
}

.sitemap img {
    width: 100%;
    border-radius: 0.5rem;
    border: 2px solid #567741;
}

.sitemap p {
    margin: 3rem 0;
}

/*BRANDING SECTION*/
.branding {
    padding: 4rem 0;
}

.branding img {
    margin-top: 2rem;
    width: 100%;
    background-color: #e3e3e3;
    padding: 2rem;
    border-radius: 0.5rem;
}

/*SKETCH SECTION*/
.sketch {
    padding: 4rem 0;
}

.sketch-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.sketch-flex img {
    margin: 0 0.25rem;
    width: 24%;
    border-radius: 0.5rem;
}

.sketch-flex h4 {
    width: 24%;
    margin: 0 0.25rem;
}

/*HI-FIDELITY SECTION*/
.hi-fi {
    padding: 4rem 0;
}

.hi-fi p {
    margin-bottom: 2rem;
}

.hi-fi .simple-flexbox-btw {
    background-color: #e3e3e3;
    border-radius: 1rem;
    padding: 0rem 2rem 2rem;
}

.hi-fi-img {
    width: 48.5%;
}

.hi-fi-img p {
    margin: 2rem 0 0.5rem;
    font-size: 1.5rem;
    color: #567741;
}

.hi-fi-img img {
    width: 100%;
    border-radius: 0.5rem;
}
















