.hero-skate {
    box-sizing: border-box;
    padding: 4rem 0rem 4rem;
    width: 100%;
    text-align: center;
    position: relative;
}

.hero-skate h3 {
    font-size: 7rem;
    color: #292929;
    line-height: 7rem;
    text-align: left;
}

.hero-skate h4 {
    font-size: 3rem;
    color: #567741;
    text-align: left;
}

/*margin underneath the project details*/
.header-under {
    margin-top: 6rem;
}

.left-text {
    text-align: left;
    width: 40%;
}

.right-img {
    padding-left: 4rem;
    width: 60%;
}

.right-img img {
    width: 100%;
}
