@font-face {
    font-family: 'Harlow Solid Italic';
    src: url('../assets/harlow-solid-italic.TTF') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    font-family: "Harlow Solid Italic", sans-serif;
    font-weight: 400;
}

h2 {
    font-family: "proxima-soft", sans-serif;
    font-weight: 200;
}

h3 {
    font-family: "proxima-soft", sans-serif;
    font-weight: 600;
}

h4 {
    font-family: "proxima-soft", sans-serif;
    font-weight: 300;
}

p {
    font-family: "proxima-soft", sans-serif;
    font-weight: 300;
}

.content-container {
    box-sizing: border-box;
    max-width: 1270px;
    overflow: hidden;
    margin: 0 auto;
    padding: 0 5rem;
}

.simple-flexbox {
    display: flex;
    justify-content: flex-start;
}

.simple-flexbox-btw {
    display: flex;
    justify-content: space-between;
}

.sticky-nav {
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: white;
}

/*NAVIGATION*/

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    background-color: white;
    /*box-shadow: 0rem 0.5rem 0.7rem rgba(0, 0, 0, 0.07);*/
}
    
.navbar img {
    display: block;
    width: 3.5rem;
}

.hamburger {
    display: none;
    padding: 0;
    background-color: transparent;
    border: none;
    font-size: 2rem;
    color: black;
}

.navbar ul {
    display: flex;
    justify-content: flex-end; 
    gap: 3rem;                 
    list-style: none;
  }
  
.navbar li a {
    display: block;
    color: black;
    text-decoration: none;
    font-family: "proxima-soft", sans-serif;
    font-weight: 300;
    font-size: 1.2rem;
    position: relative;
}

.navbar li a::before {
    content: '';
    width: 0;
    height: 2px;
    border-radius: 2px;
    background-color: #567741;
    position: absolute;
    bottom: -0.25rem;
    left: 50%;
    transition: width .4s, left .4s;
}

.navbar li a:hover::before {
    width: 100%;
    left: 0;
}

.content-container-divider {
    box-sizing: border-box;
    max-width: 1270px;
    overflow: hidden;
    margin: 0 auto;
    padding: 0 4.5rem;
}

/*DIVIDERS*/
.nav-divider {
    border: none;
    border-top: 2.5px solid #F9BBBC;
}

/*VERTICAL LINE*/
.vertical-divider-left {
    border-left: 2.5px solid #567741; 
}

/*THIN GRAY DIVIDER*/
.heading-divider {
    border: none;
    border-top: 1.5px solid #e3e3e3;
}

/*PROJECT DETAILS*/
.decorative-bar {
    display: inline-block;
    background-color: #F9BBBC;
    color: #292929;
    padding: 0.3rem 1rem;
    text-align: center;
    border-radius: 999px; /* fully rounded */
    font-family: "proxima-soft", sans-serif;
    font-weight: 300;
    font-size: 1rem;
    letter-spacing: 0.05em;
}

.proj-details p {
    text-align: left;
    font-size: 1rem;
    color: #292929;
}

.text-item-bold {
    margin-top: 1rem;
    font-weight: 600;
}

/*between "My Role" and the paragraph*/
.btw-header-p {
    margin-bottom: 1rem;
}

.emphasize {
    font-weight: 600;
}

/*FOOTER*/

footer {
    padding: 2rem 0rem;
    background-color: white;
}

footer .content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

footer nav {
    margin-bottom: 1.5rem;
}

footer nav ul {
    display: flex;
    justify-content: center;
    gap: 3rem;
    list-style: none;
    margin: 2rem 0rem 1.5rem;
}

footer nav ul li a {
    color: black;
    text-decoration: none;
    font-family: "proxima-soft", sans-serif;
    font-weight: 300;
    font-size: 1.2rem;
    position: relative;
}

footer nav ul li a::before {
    content: '';
    width: 0;
    height: 2px;
    border-radius: 2px;
    background-color: #567741;
    position: absolute;
    bottom: -0.25rem;
    left: 50%;
    transition: width .4s, left .4s;
}

footer nav ul li a:hover::before {
    width: 100%;
    left: 0;
}

.copyright {
    color: #666666;
    font-size: 0.8rem;
    text-align: center;
}

.welcome {
    text-align: left;
    margin-bottom: 1rem;
}
.welcome h4 {
    padding-top: 1rem;
    color: #292929;
    font-size: 1.7rem;
    transform: translateX(1rem);
    line-height: 0.5rem;
}

.welcome h1 {
    color: #F9BBBC;
    font-size: 7rem;
    line-height: 4.3rem;
    padding-bottom: 1rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

.welcome p {
    text-align: left;
    color: #292929;
    font-size: 1.2rem;
    margin-top: 3rem;
}

.em {
    color: #567741;
}

@media (max-width: 400px) {
    .content-container {
        padding: 0 1rem;
    }
    .content-container-divider {
        padding: 0 0.75rem;
    }

    .hamburger {
        display: block;
    }

    .navbar ul {
        z-index: 900;
        margin-top: 0.7rem;
        display: none;
        flex-direction: column;
        background: white;
        position: absolute;
        top: 60px;
        left: 0;
        right: 0;
        padding: 0 1rem;
        gap: 0;
        transform: translateY(-100%);
        opacity: 0;
        visibility: hidden;
        transition: transform 0.3s ease-out, opacity 0.3s ease-out, visibility 0s linear 0.3s;
    }

    .navbar ul.active {
        display: flex;
        transform: translateY(0);
        opacity: 1;
        visibility: visible;
        transition: transform 0.3s ease-out, opacity 0.3s ease-out, visibility 0s linear 0s;
    }

    .navbar ul li {
        padding: 1rem 0;
        text-align: center;
        border-bottom: 1.5px solid #F9BBBC;
    }

    footer .welcome h4 {
        font-size: 1.5rem;
    }

    footer .welcome h1 {
        font-size: 6.5rem;
    }

    footer nav {
        width: 90%;
        margin: 0 auto 1.5rem;
    }

    footer nav ul {
        justify-content: space-between;
        gap: 0;
    }
}

