.hero-tedxuw {
    box-sizing: border-box;
    padding: 4rem 0rem 8rem;
    width: 100%;
    text-align: left;
    position: relative;
}

.simple-flexbox-btw {
    align-items: center;
}

.main-heading {
    margin-right: 5rem;
}

.hero-tedxuw h4 {
    font-size: 2.5rem;
    color: #567741;
}

.hero-tedxuw h3 {
    font-size: 8rem;
    color: #292929;
    line-height: 7rem;
}

.hero-tedxuw img {
    width: 8%;
}

.ted-laptop {
    margin-top: 4rem;
    margin-bottom: 4rem;
    background-color: #567741;
    width: 100%;
    border-radius: 1rem;
    padding: 3rem 0rem;
    text-align: center;
}

.ted-laptop img {
    width: 80%
}

.background-info {
    padding-top: 4rem;
    padding-bottom: 4rem;
}

.heading-divider {
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.background-info h1 {
    font-size: 5rem;
    color: #292929;
}

.background-info .simple-flexbox-btw {
    align-items: stretch;
}

.background-info h4 {
    font-size: 2.5rem;
    color: #567741;
}

.header-left {
    width: 50%;
}

/*VERTICAL LINE*/
.vertical-divider-left {
    padding-left: 1rem;
    width: 50%;
    margin-bottom: 4rem;
    border-color: #f9bbbc;
}

.btw-header-p {
    margin-bottom: 1rem;
}

.goal-div {
    margin-top: 2rem;
    margin-bottom: 6rem;
    background-color: #e3e3e3;
    border-radius: 1rem;
    padding: 2rem 2rem;
    font-size: 1.2rem;
}

.emphasize {
    font-weight: 600;
}

.boil-div {
    display: block;
    margin: 0 auto;
    text-align: center;
    color:#567741;
}

.boil-div h1 {
    margin-bottom: 1rem;
    font-size: 3.7rem;
    color: #567741;
}

.boil-div i {
    font-size: 3.5rem;
}




