p {
    font-size: 1rem;
}

/*HERO SECTION*/
.hero-tedxuw {
    box-sizing: border-box;
    padding: 4rem 0rem 0rem;
    width: 100%;
    text-align: left;
    position: relative;
}

.simple-flexbox-btw {
    align-items: center;
}

.main-heading {
    margin-right: 5rem;
}

.hero-tedxuw h4 {
    font-size: 2.5rem;
    color: #567741;
}

.hero-tedxuw h3 {
    font-size: 8rem;
    color: #292929;
    line-height: 7rem;
}

.hero-tedxuw img {
    width: 8%;
}

.hero-button {
    display: block;
    width: 30%;
    background-color: white;
    color: #567741;
    padding: 1rem 2rem;
    border-radius: 2rem;
    text-decoration: none;
    font-size: 1.2rem;
    margin: 7rem auto 3rem;
    transition: all 0.3s ease;
    border: 2px solid #567741;
    font-family: "proxima-soft", sans-serif;
    text-align: center;
}

.hero-button:hover {
    background-color: #56774154;
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/*LAPTOP SECTION*/
.ted-laptop {
    margin-top: 4rem;
    margin-bottom: 4rem;
    background-color: #567741;
    width: 100%;
    border-radius: 1rem;
    padding: 3rem 0rem;
    text-align: center;
}

.ted-laptop img {
    width: 80%;
}

/*BACKGROUND INFO SECTION*/
.background-info {
    padding-top: 4rem;
    padding-bottom: 4rem;
}

.heading-divider {
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.background-info h1, .website-design h1 {
    font-size: 5rem;
    color: #292929;
}

.background-info .simple-flexbox-btw {
    align-items: stretch;
}

.background-info h4 {
    font-size: 2.5rem;
    color: #567741;
}
.header-left {
    width: 50%;
}

/*VERTICAL LINE*/
.vertical-divider-left {
    padding-left: 1rem;
    width: 50%;
    margin-bottom: 4rem;
    border-color: #f9bbbc;
}

/*between "My Role" and the paragraph*/
.btw-header-p {
    margin-bottom: 1rem;
}

/*the gray goal box*/
.goal-div {
    margin-top: 2rem;
    background-color: #e3e3e3;
    border-radius: 1rem;
    padding: 2rem 2rem;
}

.goal-div p {
    font-size: 1.2rem;
}

.p-size-emphasize {
    font-size: 2rem;
}

/*boil it down section*/
.boil {
    display: block;
    margin: 4rem 0 8rem;
    text-align: center;
    color:#567741;
}

.boil h1 {
    margin-bottom: 1rem;
    font-size: 3.7rem;
    color: #292929;
}

.boil-arrow {
    font-size: 3.5rem;
}

/*problem statement section*/
.prob-statement {
    display: flex;
    justify-content: center;
    margin-top: 1.6rem;
}

.prob-statement h4 {
    width: 70%;
    font-size: 3.5rem;
    color: #567741;
}

/*basics section*/
.basics {
    margin-top: 6rem;
    margin-bottom: 6rem;
}

.basics h1, .deliverables h1 {
    font-size: 5rem;
    color: #292929;
}

.basics h4, .animations h4 {
    font-size: 2.5rem;
    color: #567741;
}

/*theme section*/
.theme, .takeaway {
    background-color: #292929;
    width: 100%;
    padding-top: 4rem;
    padding-bottom: 4rem;
    text-align: left;
    color: #fff;
}

.theme h1, .takeaway h1 {
    font-size: 5rem;
    color: #f9bbbc;
}

.theme h4 {
    font-size: 2.5rem;
    color: #a3c590;
}

.theme .heading-divider, .takeaway .heading-divider {
    border-color: #3e3e3e;
}

/*the gray box*/
.theme-odd {
    margin-top: 2rem;
    margin-bottom: 4rem;
    background-color: #3e3e3e;
    border-radius: 1rem;
    padding: 2rem 2rem;
}

.theme-odd p {
    font-size: 1.2rem;
    display: inline-block;
}

.theme .simple-flexbox-btw {
    display: flex;
    align-items: flex-start;
}

.theme-keywords {
    width: 40%;
}

.theme-keywords .simple-flexbox {
    align-items: center;
    margin-bottom: 1rem;
}

.square-border {
    width: 2.5rem;
    height: 2.5rem;
    border: 1px solid #a3c590;
    border-radius: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 1rem;
}

.square-border i {
    font-size: 1.5rem;
}

.theme-logo {
    width: 55%;
}

.theme-logo .simple-flexbox-btw {
    display: flex;
    align-items: flex-end;
}

.theme-logo-left {
    width: 45%;
}

.theme-logo-left p {
    margin-bottom: 1rem;
}

.theme-logo-right {
    width: 25%;
}

.theme-logo-left img, .theme-logo-right img {
    width: 100%;
    border-radius: 0.5rem;
}

.theme-final {
    margin-top: 4rem;
}

.theme-logo-final {
    width: 25%;
}

.theme-logo-final img {
    background-color: #ffffff;
    padding: 2rem;
    border-radius: 1rem;
    width: 100%;
}

.swag-items {
    width: 70%;
}

.swag-items img {
    width: 100%;
    border-radius: 1rem;
}

.ted-design {
    margin-top: 2rem;
    background-color: #e3e3e3;
    border-radius: 1rem;
    padding: 4rem 4rem;
}

.ted-design img {
    width: 100%;
}

.website-design {
    padding-top: 4rem;
    padding-bottom: 4rem;
}

.strikethrough {
    text-decoration: line-through;
}

.animations {
    margin-top: 4rem;
    margin-bottom: 4rem;
}

.animations .simple-flexbox-btw {
    align-items: flex-start;
}

.video {
    width: 47%;
    border-radius: 1rem;
}

.video video {
    width: 100%;
    border-radius: 1rem;
}

.figma-components {
    width: 47%;
}

.figma-components-img {
    border: 1px solid #292929;
    border-radius: 1rem;
    width: 100%;
}

.figma-components-img img {
    width: 88%;
    border-radius: 1rem;
}

.deliverables {
    padding-bottom: 4rem;
}

.deliverables .simple-flexbox-btw {
    align-items: flex-start;
}

.deliverables img {
    width: 100%;
}

.deliverables-right {
    width: 47%;
}

.deliverables-left {
    width: 47%;
}

.deliverables-left hr {
    margin-top: 3rem;
    border-top: 2px solid #567741;
}

.deliverables-left p {
    margin-top: 1rem;
}

.takeaway a {
    background-color: #3e3e3e;
    font-family: 'proxima-soft', sans-serif;
    font-size: 2.5rem;
    color: #ffffff;
    text-decoration: none;
    padding: 1rem 2rem;
    border-radius: 1rem;
    transition: background-color 0.3s ease;
}

.takeaway a:hover {
    background-color: #567741;
}

@keyframes bounceArrow {
    0%, 100% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(10px);
    }
}

.takeaway .ti-arrow-right {
    animation: bounceArrow 1s ease-in-out infinite;
}








































